<div class="row">
  <div class="col-xs-12">
    <h1>Ingresar Transporte de Envío</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <table>
      <thead>
        <tr>
          <th>Transportes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @transportations.each do |transportation| %>
          <tr>
            <td><%= transportation.transportation %></td>
            <td class="text-end"><%= link_to 'Edit', edit_transportation_path(transportation) %> | <%= link_to 'Destroy', transportation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
