<div class="row">
  <div class="col-xs-12">
    <h1>Ingresar Familias</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <table>
      <thead>
        <tr>
          <th>Familias</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @families.each do |family| %>
          <tr>
            <td><%= family.family %></td>
            <td class="text-end"><%= link_to 'Editar', edit_family_path(family) %> | <%= link_to 'Eliminar', family, method: :delete, data: { confirm: 'Está seguro de eliminar esta familia?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
