/* Formulario Shaptar */

.form{ margin-bottom: 25px;}

.input-shaptar{
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  border: solid 1px #e8e8e8;
  border-radius: 5px;
  box-sizing: inherit;
  outline: 0px;
  padding-left: 17px;
  font-size: 15px;
}
.input-shaptar-withe{
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline: 0px;
  padding-left: 17px;
  font-size: 15px;
}

select{
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  outline: 0px;
  padding-left: 17px;
  font-size: 15px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
}
.select-shaptar{
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: none;
  outline: 0px;
  padding-left: 17px;
  font-size: 15px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
}


.textarea-shaptar{
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline: 0px;
  padding: 11px 15px 11px 15px;
  font-size: 15px;
  border: solid 1px #e8e8e8;
}
.textarea-contacto-shaptar{
  width: 100%;
  height: 450px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline: 0px;
  padding: 17px 20px 20px 20px;
  font-size: 15px;
  border: solid 1px #e8e8e8;
}
@media (max-width: 766px){
  .textarea-contacto-shaptar{
    height: 300px;
  }
}

.button-shaptar-green{
  width: 100%;
  height: 45px;
  background-color: #22af69;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline:0px;
  margin-bottom: 10px;
  padding: 8px 0px 5px 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  outline: 0px;
  text-align: center;
}
.button-shaptar-green:hover{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-shaptar-red{
  width: 100%;
  height: 45px;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline:0px;
  margin-bottom: 10px;
  padding: 8px 20px 5px 20px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  outline: 0px;
}
.button-shaptar-red:hover{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-shaptar-blue{
  width: 100%;
  height: 45px;
  background-color: #0275d8;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  box-sizing: inherit;
  outline:0px;
  padding-top: 12px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  outline: 0px;
  text-align: center
}
.button-shaptar-blue:hover{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-shaptar-white{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  color: #222;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  min-width: 54px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  outline:0px;
  text-decoration: none;
}
.button-shaptar-white:hover{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

/* Tabla Shaptar */

.negative{ margin-top: -25px;}

pre{ margin-top: -100px; padding-top: -100px;}

table{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th{
  font-size: 15px;
  font-weight: normal;
  padding: 8px;
  background: #1a5ea1;
  border-top: 4px solid #114f8c;
  border-bottom: 1px solid #fff;
  color: #ffffff;
}

td{ padding: 8px;
  border-bottom: 1px solid #fff;
  color: #000000;
  border-top: 1px solid transparent;
}

tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}
